/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
:root {
  --font: #333d53;
  --color-1: rgba(148, 47, 191, 1);
  --color-2: rgba(2, 103, 114, 1);
  --color-3: rgba(242, 211, 60, 1);
  --color-4: rgba(140, 69, 8, 1);
  --color-5: rgba(114, 16, 16, 1);
  --color-6: #5a5a5a;
  --color-7: rgba(252, 116, 107, 1);
  --color-8: rgba(251, 202, 52, 1);
  --water: rgba(175, 209, 216, 1);
  --water-miss: rgba(65, 168, 191, 1);
  --grid-test-size: 16vw;
  --grid-gap: calc(var(--grid-test-size) / 4);
  --base-border-size: 0.063rem;
  --base-margin: 1.75vh;
  --b-shadow: rgba(45, 35, 66, 0.4) 0 0.3rem 0.625rem,
    rgba(45, 35, 66, 0.3) 0 1.125rem 2rem -0.5rem, #d6d6e7 0 -0.5rem 0 inset;
  --h-font: 3rem;
  --info-font: 1.6rem;
}

html,
body {
  min-width: 316px;
  height: 100dvh;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quantico', 'Arial Narrow', Arial, sans-serif;
  color: var(--font);
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

header {
  margin-bottom: var(--base-margin);
  font-size: var(--h-font);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--grid-gap);
}

.info {
  height: calc(var(--grid-test-size) / 5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(var(--base-margin) * 1.25) 0 calc(var(--base-margin) * 1.25) 0;
  font-size: var(--info-font);
}

.p1-gb,
.p2-gb {
  position: relative;
  width: var(--grid-test-size);
  height: var(--grid-test-size);
  background-color: #ffffff;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: solid var(--font) var(--base-border-size);
  box-shadow: var(--b-shadow);
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  z-index: 0;
  position: relative;
  border: var(--base-border-size) solid #aaa;
  font-size: 0.875rem;
  box-sizing: border-box;
  background-color: var(--water);
}

.cell:hover {
  cursor: crosshair;
}

.blank {
  background-color: var(--color-6);
}

.m,
.x {
  background-color: var(--water-miss);
}

.hit-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 1;
}

.carrier,
.carrier-preview {
  background-color: var(--color-1);
}
.battleship,
.battleship-preview {
  background-color: var(--color-2);
}
.cruiser,
.cruiser-preview {
  background-color: var(--color-3);
}
.submarine,
.submarine-preview {
  background-color: var(--color-4);
}
.destroier,
.destroier-preview {
  background-color: var(--color-5);
}

.fleet-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--b-shadow);
}

.fleet {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--font) var(--base-border-size);
  width: calc(calc(var(--grid-test-size) * 2) + calc(var(--grid-gap)));
  height: calc(calc(var(--grid-test-size) / 10) * 5.7);
  gap: calc(var(--base-margin) / 2);
  background-color: var(--water);
}

.preview-container {
  display: flex;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.preview {
  height: calc(var(--grid-test-size) / 10);
  width: calc(calc(var(--grid-test-size) / 10));
}

button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 0.25rem;
  border-width: 0;
  box-shadow: var(--b-shadow);
  box-sizing: border-box;
  color: var(--font);
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', 'Fira Code', 'Source Code Pro', 'Courier New',
    monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  height: calc(var(--grid-test-size) / 7, 5);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1.75rem;
  margin-bottom: var(--base-margin);
}

button:hover {
  box-shadow: var(--b-shadow);
  transform: translateY(-2.5px);
}

button:active {
  box-shadow: #d6d6e7 0 0.5rem 1.125rem inset;
  transform: translateY(0.156rem);
}

.autoplace {
  font-size: 1.5rem;
  font-style: italic;
}

.game-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--base-margin);
}

.fleet-btns {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 var(--base-border-size) 0 var(--base-border-size);
  gap: var(--base-margin);
}

.fleet-btns > h4 {
  margin: 0;
  font-size: 2rem;
}

.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #aaa;
}
.tgl-skewed + .tgl-btn:after,
.tgl-skewed + .tgl-btn:before {
  transform: skew(10deg);
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0.063rem 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #aaa;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: var(--water-miss);
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.tgl-box {
  margin-bottom: var(--base-margin);
  transform: scale(2);
}

.foot {
  color: var(--font);
  font-size: 1rem;
  margin: 0;
}

.fa-github {
  color: var(--color-7);
}

.attribution {
  margin: 0;
  a {
    text-decoration: none;
    color: var(--font);
  }
}

/* huge */
@media (max-width: 1290px) {
  :root {
    --grid-gap: calc(var(--grid-test-size) / 4);
    --base-border-size: 0.1rem;
  }

  .tgl-box {
    transform: scale(1.6);
  }

  .info {
    font-size: 2rem;
  }
  .attribution {
    transform: scale(0.8);
  }
}

/* large */
@media (max-width: 992px) {
  :root {
    --grid-gap: calc(var(--grid-test-size) / 4);
    --base-border-size: 0.075rem;
  }

  header {
    font-size: calc(var(--h-font) * 0.85);
  }

  .info {
    font-size: calc(var(--info-font) * 0.85);
  }

  .right-content {
    max-width: 15rem;
    margin-left: 0;
  }

  .game-btns {
    transform: scale(0.7);
  }

  .foot {
    font-size: 0.8rem;
  }
}

/* vertical */
@media (max-width: 500px) and (min-height: 650px) {
  main {
    flex-direction: column;
  }

  .left-content {
    transform: scale(0.7);
  }
}

